body{
    background: url(https://upload.wikimedia.org/wikipedia/commons/6/69/World_map_blank_gmt.svg) no-repeat;
    background-size: 100%;
}
center{
    padding: 20%;
}
.btn-meteo{
    width:200px;
    height:40px;
    padding:10px;
    border: none;
    border-radius: 10px;
    background-color:rgb(119, 239, 255);
    overflow:hidden;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    
}
.btn-meteo:hover{
    width:40px;
    height:40px;
    background-color:rgb(87, 211, 65);
    -webkit-transform:rotateZ(360deg);
    -moz-transform:rotateZ(360deg);
    -ms-transform:rotateZ(360deg);
    -o-transform:rotateZ(360deg);
    transform:rotateZ(360deg);
}

.btn-prevision{
    overflow:hidden;
    width:200px;
    height:40px;
    padding:10px;
    background-color:rgb(220, 223, 78);
    border-radius: 5px;
    border: none;
}
.btn-prevision:hover{
    width:40px;
    height:40px;
    background-color:rgb(83, 172, 255);
    -webkit-animation: anim_trois 1.2s;
    -moz-animation: anim_trois 1.2s;
    -ms-animation: anim_trois 1.2s;
    -o-animation: anim_trois 1.2s;
    animation: anim_trois 1.2s;
}
@-moz-keyframes anim_trois {
    0% {
        width:200px;
        -moz-transform: perspective( 600px ) rotateY( 0deg );
    }
    50% {
        width:40px;
        height:40px;
        -moz-transform: perspective( 600px ) rotateY( 0deg );
    }
    100% {
        width:40px;
        height:40px;
        background-color:#60121C;
        -moz-transform: perspective( 600px ) rotateY( 180deg );
    }
}
@-ms-keyframes anim_trois {
    0% {
        width:200px;
        -ms-transform: perspective( 600px ) rotateY( 0deg );
    }
    50% {
        width:40px;
        height:40px;
        -ms-transform: perspective( 600px ) rotateY( 0deg );
    }
    100% {
        width:40px;
        height:40px;
        background-color:#60121C;
        -ms-transform: perspective( 600px ) rotateY( 180deg );
    }
}
@-o-keyframes anim_trois {
    0% {
        width:200px;
        -o-transform: perspective( 600px ) rotateY( 0deg );
    }
    50% {
        width:40px;
        height:40px;
        -o-transform: perspective( 600px ) rotateY( 0deg );
    }
    100% {
        width:40px;
        height:40px;
        background-color:#60121C;
        -o-transform: perspective( 600px ) rotateY( 180deg );
    }
}
@keyframes anim_trois {
    0% {
        width:200px;
        transform: perspective( 600px ) rotateY( 0deg );
    }
    50% {
        width:40px;
        height:40px;
        transform: perspective( 600px ) rotateY( 0deg );
    }
    100% {
        width:40px;
        height:40px;
        background-color:#60121C;
        transform: perspective( 600px ) rotateY( 180deg );
    }
}