body{
    background: url(https://upload.wikimedia.org/wikipedia/commons/6/69/World_map_blank_gmt.svg) no-repeat;
    background-size: 100%;
}
h1{
    padding-left: 38%;
    font-family: OCR A Std, monospace;
    color:rgb(255, 75, 3) ;
}
center{
    padding: 5%;
}
.btn-meteo{
    width:200px;
    height:40px;
    padding:10px;
    border: none;
    border-radius: 10px;
    background-color:rgb(56, 74, 241);
    overflow:hidden;
}
.btn-meteo:hover {
    background: #2acf40;
    letter-spacing: 1px;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.4s ease 0s;
    }

.btn-prevision{
    overflow:hidden;
    width:200px;
    height:40px;
    padding:10px;
    background-color:rgb(220, 223, 78);
    border-radius: 5px;
    border: none;
}
.btn-prevision:hover {
    background: #2acf40;
    letter-spacing: 1px;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.4s ease 0s;
    }
